body{
	background-color: silver;
}
#topnav{
	width: 90%;
	height: 50px;
}
#topnav li{
	display: inline;
	float: left;
}
#topnav a{
	font-weight: bold;
	font-size: 16pt;
}
#topnav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkgray;
}
#topnav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#topnav li a:hover:not(.active) {
	background-color: gray;
}
#topnav .active {
	background-color: black;
}
#body{
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#cpybox{
	background-color: white;
	width: 90%;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
}
