body{
	background-color: silver;
}
#topnav{
	width: 90%;
	height: 50px;
	background-color: darkgray;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#topnav li{
	display: inline;
	padding: 4px;
}
#topnav a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16pt;
}
#body{
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
}
#cpybox{
	background-color: white;
	width: 90%;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
}
